@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@500&display=swap");
@font-face {
  font-family: "coolvetica";
  src: url(./../src/font/coolvetica\ rg.otf);
}
@font-face {
  font-family: "Sf";
  src: url("./../src/font/SF-Pro-Text-Regular.otf");
}
@font-face {
  font-family: "eger";
  src: url("./../src/font/eger.otf");
}
@font-face {
  font-family: "Thunder";
  src: url("./font/Thunder-ExtraBoldLC.ttf");
}
@font-face {
  font-family: "stretch";
  src: url("./font/StretchPro.otf");
}
@font-face {
  font-family: "integral";
  src: url("./font/IntegralCF-ExtraBold.woff");
}
@font-face {
  font-family: "fibon";
  src: url(./font/Fibon_Sans_Regular.otf);
}
@font-face {
  font-family: "unicorn";
  src: url(./font/Unicorn.otf);
}
@font-face {
  font-family: "akira";
  src: url(./font/Akira.otf);
}
body {
  background-color: black;
}
html {
  user-select: none;
  overflow-x: hidden;
}

::selection {
  background-color: #00000000;
  color: white;
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.hero-heading {
  font-family: "eger";
  letter-spacing: 2px;
}
.sf {
  font-family: "sf";
}
.heading {
  font-family: "akira";
}
.navLinks {
  font-family: "inter", sans-serif;
  /* letter-spacing: 2px; */
  font-weight: 100;
}
.inter {
  font-family: "inter", sans-serif;
}
.integral {
  font-family: integral;
}
.akira {
  font-family: akira;
  letter-spacing: 2px;
}
.fibon {
  font-family: fibon;
}
.stretch {
  font-family: "stretch";
  transform: scaleY(1.1);
}
.Footer {
  font-family: "inter";
}

/* body, html, *{
  font-family: "Sf";
} */
.landingPage {
  /* background-image: url("./assets/bg.webp"); */
  /* background-image:linearadient(360deg,  #01040b 0.2%, #0e011700 99.9%), url("./assets/bg.png"); */
  transform: translateZ(-1000);
  perspective-origin: 400px;
  background-size: cover;
}
.stretch {
  font-family: "stretch";
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #000000;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

.ContactDiv {
  background-image: url(assets/bg-contact.webp);
  background-size: cover;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
.AboutDiv {
  /* background-image: url(assets/images/bg-about.webp); */
  background-size: cover;
  background-repeat: no-repeat;
}
.teamCard:hover {
  /* backdrop-filter: blur(20px) saturate(120%) contrast(200%); */
  backdrop-filter: blur(10px);
}
.teamCard {
  height: 100%;
  width: 100%;

  transition: all 500ms;
  /* backdrop-filter: saturate(120%) contrast(200%); */
}

.AboutContainer {
  backdrop-filter: brightness(50%) contrast(120%);
}
.contentEventCard {
  transition: all 500ms;
  backdrop-filter: blur(0px);
  color: transparent;
}
.EventMainCard:hover .contentEventCard {
  backdrop-filter: blur(10px);
  color: white;
}

.anotherDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
table,
th,
td {
  border: 3px solid #ffffff;
}
th {
  padding: 20px;
  font-size: 20px;
  font-family: akira;
}
td {
  padding: 10px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  font-family: akira;
}
.customScrollbar::-webkit-scrollbar-thumb {
  color: red;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #007bc4;
  transform-origin: top;
  overflow: hidden;
  z-index: 1000000000;
}
#myCursor {
  display: hidden;
}
